/*
 * This work is released into the Public Domain under the
 * terms of the Creative Commons CC0 1.0 Universal license.
 * https://creativecommons.org/publicdomain/zero/1.0/
 */
/* Looking for color inspiration...
 * green brown:      https://www.flickr.com/photos/46685575@N06/19956081288
 * green blue:       https://www.flickr.com/photos/46685575@N06/19911754752
 * green gray:       https://www.flickr.com/photos/69403533@N07/20231776433
 * gray:             https://www.flickr.com/photos/67272076@N04/6159360361
 * gray:             https://www.flickr.com/photos/23818529@N04/5568187791
 * green beige gray: http://www.dreamstime.com/54565541
 * blue green gray:  http://www.gettyimages.de/fotos/148583949
 * black gray:       https://www.flickr.com/photos/43150087@N04/10126372706
 * blue orange:      http://www.transientlight.co.uk/photo/sunset-loch-pityoulish/
 * green gray:       http://www.cairngormsgallery.co.uk/loch%20pityoulish/loch%20pityoulish.htm
 * blue green:       http://www.donaldfordimages.com/gallery/scripts/prodView.asp?idproduct=453055352
 * Yes, I found the photography by Jodie Mann.
 * Not the kind of inspiration I was looking for.
 */

body {
  font-family: sans-serif;
}

body > p, body > div, body > dl, body > .main
{
  margin: 8px 10px;
}

@media screen {
  body {
    color: #000000;
    background-color: #fffcfb;

    border-bottom: 1px dashed #ccb69c;
    padding-bottom: 2em;
    margin-bottom: 26em;
  }

  h1 {
    color: #473331;
    background-color: #ccb69c;
    border-radius: 17px;
  }

  a {
    color: #b45216;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 1px;
    border-radius: 8px;
  }

  a:hover {
    text-decoration: underline;
    background-color: #e6e3e2;
  }

  a:visited {
    color: #762208;
  }

  a.covert {
    color: #000000;
    background-color: transparent;
    padding: 0px;
    font-weight: normal;
    /* text-decoration: none; ...keep the hover-underlining */
  }
} /* @media screen */

@media print {
  h1 {
    font-size: x-large;
    border-radius: 17px;
    border-bottom: 3px solid #cccccc;
  }
  a {
    color: black;
    text-decoration: none;
  }
} /* @media print */


h1.title {
  text-align: center;
}
h1 {
  padding: 2px 0.8em;
}

h2 {
  margin-top: 1.2em;
  padding: 0px;
  border-bottom: 2px solid;
  border-radius: 12px;
}
h2 > span {
  display: inline-block;
  padding: 2px 0.8em;
  margin: 0px;
  margin-bottom: -1px; /* overlap the border with parent <h2> */
  border-radius: 12px;
  border-bottom-left-radius: 12px;
}

@media screen {
  h2 {
    border-color: #ccb69c;
  }
  h2 > span {
    color: #473331;
    background-color: #ccb69c;
  }
} /* @media screen */

@media print {
  h2, h2 > span {
    font-size: x-large;
    border-color: #cccccc;
  }
} /* @media print */

h3 {
}
h3 > span {
  display: inline-block;
  padding: 2px 0.8em;
  margin-left: 10px;

  border-radius: 17px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 0px none;
  border-right: 0px none;
}

@media screen {
  h3, h3 > span {
    color: #473331;
    border-color: #ccb69c;
  }
} /* @media screen */


@media print {
  h3, h3 > span {
    border-color: #cccccc;
  }
} /* @media print */



p.abstract {
  font-style: italic;
}

@media screen {
  p.abstract {
    margin: 0 17% 1em;
  }
} /* @media screen */

@media print {
  p.abstract {
    margin: 0 8% 1em;
  }
} /* @media print */

p.larger {
  font-size: 120%;
}


.emph {
  font-style: italic;
}


/* list styles ---------------------------------------- */

dl > dt {
  font-weight: bold;
}

dl > dd {
  margin: 3px 1.7em 8px;
}


ul {
  margin: 0px;
}

ul > li {
  margin-bottom: 0.35em;
}

ul span.title {
  font-weight: bold;
}

.tlv-type.request::after
{
  content: " (\21d2) ";
  font-weight: normal;
}

.tlv-type.response::after
{
  content: " (\21d0) ";
  font-weight: normal;
}


/* floating boxes, for downloads ======================================== */

div.box-right
{
 float: right;
 margin-top: 0px;
 margin-left: 4px;
 margin-right: 0px; /* must look good below an <h2> */
 padding: 4px 12px;

 border: 1px solid;
 border-radius: 12px;
}

@media screen {
  div.box-right {
    background-color: #f1f3e6;
    border-color: #4d6251;
    width: 35%;
    min-width: 26em;
  }

  div.box-right a {
    /* font-weight: normal; */
    color: #38602e;
  }

  div.box-right a:hover {
    background-color: #cfe0d0;
  }

  div.box-right a:visited {
    color: #4d6251;
  }

  div.box-right a.covert  {
    color: #000000;
    background-color: #f1f3e6;
    padding: 0px;
    font-weight: normal;
    text-decoration: none;
  }

  div.box-right a code {
    font-weight: bold;
  }

} /* @media screen */

@media print {
  div.box-right {
    border-color: #cccccc;
    width: 25%;
    min-width: 19em;
    font-size: 90%
  }
} /* @media print */


div.box-right dl
{
  margin: 0px;
  padding: 0px;
}

div.box-right dt, div.box-right dd
{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}


/* side notes ======================================== */

div.side-note {
  border-top: 1px dashed;
}

div.side-note .content {
  float: right;
  margin-top: -1px;
  border: 1px solid;
  border-bottom-left-radius:  12px;
  border-bottom-right-radius: 12px;

  padding: 0.2em 0.5em;
  font-size: large;
}

@media screen {
  div.side-note {
    border-color: #4d6251;
    border-image: linear-gradient(to right, #fffcfb, #4d6251 80%, #4d6251);
    border-image-slice: 1;
  }
  div.side-note .content {
    background-color: #f1f3e6;
    border-color: #4d6251;
  }
}

/* non-floating boxes ======================================== */

div.box-center {
  margin: 0.8em 8em;
  padding: 0.2em 1em;
  border: 1px solid;
  border-radius: 5px;
}

div.box-center .header {
  display: block;
  align: center;
  margin: 3px 0px 8px;
  font-size: large;
}

div.box-center .title {
  /*font-style: italic; */
}
div.box-center .title::after {
  content: ": ";
  padding-right: 0.3em;
}

@media screen {
  div.box-center {
    background-color: #f1f3e6;
    border-color: #4d6251;
  }
  div.box-center .title {
    color: #6b3212;
  }
}

div.box-center .emph {
  font-style: normal;
  font-variant: small-caps;
}


/* code and terminal formatting ======================================== */

.terminal, .code {
  font-family: monospace;
}

.terminal div.input::before {
  content: "> ";
}

.terminal div.output {
  white-space: pre;
  margin-top: 0.5em;
  margin-bottom: 1.0em;
}

div.code {
  white-space: pre;
  margin-top: -1em; /* get rid of the first newline */
  margin-bottom: 1em;
}

.terminal .emph, .code .emph {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
}


@media screen {
  .terminal div.input::before {
    color: #ccb69c;
    font-weight: bold;
  }
  .terminal div.input span {
    background-color: #e6e3e2;
    padding: 1px 3px;
    border-radius: 3px;
  }
  .terminal div.input {
    padding-bottom: 0.1em; /* some descenders got cut off without this*/
    margin-bottom: 3px;    /* separate consecutive inputs */
  }

  .terminal div.output {
    padding: 1px 5px;
    border: 1px solid #e6e3e2;
    border-radius: 5px;
  }
  .terminal .emph {
    color: #6b3212;
  }
}


/* other ============================================================ */


.todo {
  font-style: italic;
  padding: 2px 6px;
}

@media screen {
  .todo {
    background-color: #ff8080;
    border-radius: 0px;
  }
} /* @media screen */

@media print {
  .todo {
    border: 1px dashed red;
  }
} /* @media print */
