/*
 * This work is released into the Public Domain under the
 * terms of the Creative Commons CC0 1.0 Universal license.
 * https://creativecommons.org/publicdomain/zero/1.0/
 */

body {
  font-family: sans-serif;
  color: #000000;
  background-color: #fffcfb;
}


div.topNav, div.bottomNav {
  background-color: #eeeeee;
}

div.subNav {
  background-color: #cccccc;
}

ul.navList {
  display: inline-block;
  margin: 0.1em;
}

ul.navList li {
  display: inline-block;
  padding: 0.1em 1em;
}

ul.navList li.navBarCell1Rev {
  background-color: #cceecc;
}


ul.subNavList {
  display: inline-block;
  margin: 0.1em;
}

ul.subNavList li {
  display: inline-block;
  padding: 0;
}


div.header {
  background-color: #dddddd;
}

div.contentContainer {
  margin: 1em 0em;
  padding: 0.1em 0.4em;
}

table.overviewSummary, table.packageSummary {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

table.overviewSummary caption,
table.packageSummary caption {
  font-size: 110%;
  font-weight: bold;
  text-align: left;
  color: #473331;
  background-color: #ccb69c;
  border-radius: 17px;
  padding: 3px 17px;
  margin-bottom: 0.2em;
}


table.overviewSummary th,
table.packageSummary th {
  color: #ccb69c;
  font-weight: normal;
}
table.packageSummary th {
  padding-left: 17px;
}

table.overviewSummary,
table.packageSummary {
  border-collapse: collapse;
}

table.overviewSummary td,
table.packageSummary td {
  border: 1px solid #ccb69c;
  padding: 3px 0.4em;
}

/*
table.overviewSummary td.colFirst,
table.packageSummary td.colFirst {
  padding-right: 1em;
}

table.overviewSummary td.colLast,
table.packageSummary td.colLast {
  padding-left: 0.4em;
}
*/

table.overviewSummary td.colFirst a,
table.packageSummary td.colFirst a {
  font-weight: bold;
  color: #b45216;
}

table.overviewSummary td.colFirst a:visited,
table.packageSummary td.colFirst a:visited {
  color: #762208;
}



ul.blockList {
  padding: 0px;
}
li.blockList {
  list-style-type: none;
  margin-bottom: 1em;
}


div.summary {
  background-color: #ddddee;
}


div.contentContainer a {
  color: #762208;
  text-decoration: none;
  padding: 1px 1px;
  border-radius: 8px;
}
div.contentContainer a:hover {
  text-decoration: underline;
  background-color: #e6e3e2;
}
div.contentContainer a:visited {
  color: #473331;
}


div.contentContainer h2.title {
  font-size: 105%;
  color: #473331;
  background-color: #ccb69c;
  border-radius: 17px;
  padding: 3px 17px;
}

div.contentContainer dt {
  margin-top: 3px;
}


/* ========================== frames on the left ========================== */

div.indexHeader a, h1.bar a {
  color: #473331;  /* show as visited by default */
  text-decoration: none;
  padding: 1px 1px;
  border-radius: 8px;
}
div.indexHeader a:hover, h1.bar a:hover {
  text-decoration: underline;
  background-color: #e6e3e2;
}

div.indexContainer a {
  color: #762208;
  text-decoration: none;
  padding: 1px 1px;
  border-radius: 8px;
}
div.indexContainer a:hover {
  text-decoration: underline;
  background-color: #e6e3e2;
}
div.indexContainer a:visited {
  color: #473331;
}


div.indexContainer ul {
  list-style-type: none;
  padding: 3px;
}

div.indexContainer ul li {
  margin-left: 0;
}

div.indexContainer h2 {
  font-size: 105%;
  color: #473331;
  background-color: #ccb69c;
  border-radius: 17px;
  padding: 3px 17px;
}

h1.bar {
  font-size: 105%;
  color: #473331;
}
