/*
 * This work is released into the Public Domain under the
 * terms of the Creative Commons CC0 1.0 Universal license.
 * https://creativecommons.org/publicdomain/zero/1.0/
 */

body {
  font-family: sans-serif;
  color: #000000;
  background-color: #fffcfb;
  margin: 0;
}

body > div {
  margin: 2px 8px;
}


/* header section is below the top navigation */

div.header {
  padding: 0.1em 0.4em;
}

div.header h1.title, div.header h2.title {
  /* h1: package, h2: class */ 
  font-size: 130%;
  color: #473331;
  display: inline-block;
  border: 3px solid #ccb69c;
  border-radius: 17px;
  padding: 3px 17px;
}
div.header div.subTitle {
  /* package name before class title */
  display: inline-block;
  font-family: monospace;
}
div.header div.subTitle:after {
  content: ".";
}

div.header a {
  color: #762208;  /* show as visited by default */
  text-decoration: none;
  padding: 1px 1px;
  border-radius: 8px;
}
div.header a:hover {
  text-decoration: underline;
  background-color: #e6e3e2;
}

div.header > p {
  margin-bottom: 0px;
}

div.contentContainer {
  margin: 0.2em 0em;
  padding: 0.1em 0.4em;
}

div.contentContainer pre {
  font-size: large;
  padding-bottom: 1em;
}

div.contentContainer code,
span.memberNameLink {
  font-size: large;
}
div.contentContainer code strong,
span.memberNameLink {
  font-size: 105%;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 0.8em;
}
div.contentContainer div.description div.block,
div.contentContainer div.description div.block code,
div.header div.docSummary div.block,
div.header div.docSummary div.block code {
  font-size: large;
}


table.overviewSummary caption,
table.packageSummary caption,
table.typeSummary caption,
table.memberSummary caption {
  font-size: 110%;
  font-weight: bold;
  text-align: left;
  color: #473331;
  background-color: #ccb69c;
  /* border-bottom: 2px solid #ccb69c; */
  border-radius: 17px;
  padding: 3px 17px;
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}
table.memberSummary caption span.tabEnd {
  display: inline-block;
  width: 0;
  margin: 0 1em;
}

table.overviewSummary th,
table.packageSummary th,
table.typeSummary th,
table.memberSummary th {
  color: #ccb69c;
  font-weight: normal;
  font-size: small;
}
table.packageSummary th,
table.typeSummary th {
  padding-left: 17px;
}
table.memberSummary th {
  padding-left: 17px;
  padding-right: 17px;
}

table.overviewSummary,
table.packageSummary,
table.typeSummary,
table.memberSummary {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border-collapse: collapse;
}

table.overviewSummary td,
table.packageSummary td,
table.typeSummary td,
table.memberSummary td {
  border: 1px solid #ccb69c;
  padding: 3px 0.4em;
}
table.overviewSummary td,
table.memberSummary td {
  vertical-align: top;
}

table.overviewSummary td.colFirst a,
table.packageSummary td.colFirst a,
table.typeSummary td.colFirst a,
table.memberSummary td.colFirst a {
  font-weight: bold;
  color: #b45216;
}

table.overviewSummary td.colFirst a:visited,
table.packageSummary td.colFirst a:visited {
  color: #762208;
}


ul.inheritance {
  list-style-type: none;
  font-family: monospace;
  font-size: large;
  padding-left: 0em;
}
ul.inheritance li {
  margin-left: 2em;
}

div.contentContainer > ul.inheritance {
  margin-top: 0px;
}

div.contentContainer dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
div.contentContainer dt {
  font-style: italic;
  padding-top: 0.4em;
}
div.contentContainer dt strong {
  /* for "Specified by:" */
  font-weight: normal;
}
div.contentContainer div.block > strong,
span.descfrmTypeLabel {
  /* for "Description copied from class:" */
  font-weight: normal;
  font-style: italic;
  font-size: small;
  display: block;
  margin-top: -1em;
  padding: 0em 2em 2em 2em;
}
div.contentContainer dd {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
div.contentContainer dd code {
  font-size: large;
}


ul.blockList, ul.blockListLast {
  padding: 0px;
}
li.blockList, li.blockListLast {
  list-style-type: none;
  margin-bottom: 1em;
}


div.summary {
  margin-top: 0px;
  padding-top: 0px;
}


div.contentContainer h3 {
  /* heading for summary and details sections */
  /* make sufficiently distinct from table caption */
  font-size: 110%;
  font-weight: bold;
  text-align: left;
  color: #473331;
  /*background-color: #ccb69c;*/
  border: 2px solid #ccb69c;
  border-radius: 17px;
  padding: 3px 17px;
  margin-bottom: 0.8em;
}

div.contentContainer h4 {
  /* field or method name in details */
  display: inline-block;
/*
  border-top: 2px solid #ccb69c;
  border-bottom: 2px solid #ccb69c;
*/
  background-color: #ccb69c;
  border-radius: 17px;
  padding: 3px 17px;
}



div.contentContainer a {
  color: #762208;
  text-decoration: none;
  padding: 1px 1px;
  border-radius: 8px;
}
div.contentContainer a:hover {
  text-decoration: underline;
  background-color: #e6e3e2;
}
div.contentContainer a:visited {
  color: #473331;
}


div.contentContainer h2.title {
  font-size: 105%;
  color: #473331;
  background-color: #ccb69c;
  border-radius: 17px;
  padding: 3px 17px;
}

div.contentContainer dt {
  margin-top: 3px;
}


/* "Package Hierarchies" section in Tree view */
div.header span.strong,
span.packageHierarchyLabel {
  display: table; /* https://css-tricks.com/injecting-line-break/ */
}

div.header ul.horizontal {
  font-size: smaller;
  list-style-type: none;
}

div.header ul.horizontal li {
  display: inline-block;
}



/* ================= top and bottom navigation, main frame ================= */

div.skipNav {
  display: none;
}

div.topNav {
  margin: 0;
  padding: 2px 0px;
  background-color: #e0d0bc;
}

div.bottomNav {
  margin: 3em 0 0 0;
  padding: 2px 0;
  background-color: #e0d0bc;
}

div.subNav {
  margin: 0;
  padding: 2px 0px;
  font-size: smaller;
}

div.topNav a, div.bottomNav a, div.subNav a {
  color: #473331;
  font-style: italic;
  text-decoration: none;
  padding: 1px 1px;
}
div.topNav a:hover, div.bottomNav a:hover, div.subNav a:hover {
  text-decoration: underline;
}

ul.navList {
  display: inline-block;
  margin: 0.1em;
}

ul.navList li {
  display: inline-block;
  padding: 0.1em 1em;
}

ul.navList li.navBarCell1Rev {
  border: 1px solid #fffcfb;
  border-radius: 8px;
  background-color: #fffcfb;
}

div.topNav ul.navList li.navBarCell1Rev {
  margin-bottom: 3px;
}

ul.subNavList {
  display: inline-block;
  margin: 0.1em;
}

ul.subNavList li {
  display: inline-block;
  padding: 0;
}


/* ========================== frames on the left ========================== */

h1.bar {
  margin-left: 8px;
  padding-left: 3px;
}

div.indexHeader a, h1.bar a {
  font-size: smaller;
  color: #473331;  /* show as visited by default */
  text-decoration: none;
  padding: 1px 1px;
  border-radius: 8px;
}
div.indexHeader a:hover, h1.bar a:hover {
  text-decoration: underline;
  background-color: #e6e3e2;
}

div.indexContainer a {
  font-size: smaller;
  color: #762208;
  text-decoration: none;
  padding: 1px 1px;
  border-radius: 8px;
}
div.indexContainer a:hover {
  text-decoration: underline;
  background-color: #e6e3e2;
}
div.indexContainer a:visited {
  color: #473331;
}


div.indexContainer ul {
  list-style-type: none;
  padding: 3px;
}

div.indexContainer ul li {
  margin-left: 0;
}

div.indexContainer h2 {
  font-size: 100%;
  color: #473331;
  background-color: #ccb69c;
  border-radius: 17px;
  padding: 3px 17px;
}

h1.bar {
  font-size: 100%;
  color: #473331;
}


span.interfaceName {
  font-style: italic;
}
